h1 {
  font-size: 3.1em !important;
  margin-top: 40px;
  letter-spacing: 12px;
  text-align: center;
  font-family: 'CWTEX-K', sans-serif; 
}

/* 黑底白字 */
/*
.slidev-layout {
  background-color: #000; 
  color: #fff;
}
*/

@font-face {
  font-family: 'CWTEX-K'; 
  src: url('./fonts/CWTEX-K2.woff2') format('woff2'),
       url('./fonts/toolkit/CWTEX-K.ttf') format('truetype');

  font-display: swap;
}

.taigi-lyrics h4,
.taigi-lyrics h3 {
  font-family: 'LessonOne-Medium';
}

.spacing-0 h4,
.spacing-0 h3,
.spacing-0 h1 {
   letter-spacing: 0;
 }
 
.spacing-0 {
   letter-spacing: 0;
 }