h1 {
  font-size: 3em !important;
  margin-top: 30px;
  text-align: center;
  font-family: '芫荽', sans-serif;
}

/* 黑底白字 */
.slidev-layout {
  background-color: #000; 
  color: #fff;
}

@font-face {
  font-family: '芫荽'; 
  src: url('./fonts/Iansui-Regular.ttf') format('truetype');
}
