name: Deploy pages

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm install

      - name: Install slidev
        run:  npm i -g @slidev/cli@0.50.0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install fonttools
        run: |
          pip install fonttools brotli
          pip install --upgrade fonttools[woff]

      - name: Generate fonts
        run: |
          python fonts/toolkit/findUniqueChar.py

          # 直接在 dist 目錄下建立 fonts 資料夾
          mkdir -p dist/fonts
          
          # 產出 woff2 檔案直接存入 dist/fonts
          pyftsubset fonts/toolkit/CWTEX-K.ttf \
                  --text-file=fonts/toolkit/unique_chars.txt \
                  --flavor=woff2 \
                  --no-hinting \
                  --output-file=dist/fonts/CWTEX-K.subset.woff2
          
          # (選配) 檢查檔案是否真的在那裡，失敗的話 Action 會報錯
          ls -lh dist/fonts/CWTEX-K.subset.woff2

      - name: Build
        run: |
            echo -e "y\n" | slidev build main.md --base /${{github.event.repository.name}}/

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload dist repository
          path: dist

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4